.inputGroup {
  padding: 0 20px;
  margin-bottom: 40px;
}
.inputGroupText {
  color: #f8f0e5;
  background-color: transparent;
  border: none;
}

.secondaryText {
  color: #f8f0e5;
}

.demoBtn {
  background-color: transparent !important;
  color: transparent !important;
  border: none;
}
