/* 容器設置 */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 480px;
  height: 550px;
}

/* 日曆主體樣式 */
.calendar {
  border-radius: 10px; /* 圓角 */
  padding: 20px;
  color: #f8f0e5;
}

/* 頁首設置：月份標題與按鈕 */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f8f0e5;
  margin-bottom: 20px;
}

.header h2 {
  margin-right: auto;
}
.days {
  display: flex;
  justify-content: space-between;
}

/* 星期顯示的樣式 */
.day_item {
  font-weight: bold;
  color: #f8f0e5;
  text-align: center;
  padding: 10px;
}

/* 日期區域的樣式，使用網格顯示 */
.dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 一行顯示7個日期 */
}

/* 日期項目的樣式 */
.date_item {
  margin: 10px;
  padding: 20px;
  text-align: center;
  border-radius: 50%; /* 日期項目圓形顯示 */
  transition: background 0.3s; /* 背景顏色過渡效果 */
  color: #f8f0e5;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 選中日期的樣式 */
.selected {
  background-color: orange; /* 選中日期的背景色 */
}

/* 過去日期的樣式 */
.past {
  color: #555; /* 過去日期的字體顏色變淡 */
  pointer-events: none; /* 禁用過去日期的點擊事件 */
}

/* 空白的日期佔位符，用於第一行的空格填充 */
.empty_date {
  height: 40px; /* 空白項目的高度 */
}
