.larpBody {
  background-color: #1f1f1f;
}
.larpContainer {
  width: 80%;
  margin: 40px auto 0 auto;
}
.primaryText {
  color: #d7bf7d;
}
.secondaryText {
  color: #f8f0e5;
}
#larpLocation {
  margin-top: 20px;
}
#larpLocation button {
  background-color: transparent;
  width: 250px;
  height: 65px;
  font-size: 36px;
  border: none;
  border-radius: 0;
}
#larpLocation button.active {
  background-image: url(../../public/larp/img/background-line.png);
  color: #d7bf7d;
  object-fit: cover;
}
#larpLocation button:hover {
  color: #d7bf7d;
}

.dropDown{
  background-color: #d7bf7d !important;
  color:  rgba(127, 90, 61, 0.7) !important;
  border: none !important;
}

@media (max-width: 576px) {
  .h2Font {
    font-size: 18px;
  }
  .larpContainer {
    width: 80%;
    margin: 40px auto 0 auto;
  }
  #larpLocation button {
    height: 40px;
    width: 100px;
  }
  .dropDown {
    margin-top: 20px;
  }
}
