.carouselContainer {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.carouselTitle {
  font-size: 2rem;
  color: #f0e68c;
  text-align: center;
  margin-bottom: 1rem;
  text-shadow: 0 0 10px rgba(212, 175, 55, 0.3);
  margin-top: 5rem;
}

.carouselWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.cardsContainer {
  display: flex;
  gap: 1rem;
  overflow: hidden;
  padding: 1rem 0;
}

.card {
  position: relative;
  width: 200px;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;

  &:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
}

.cardImage {
  object-fit: cover;
}

.cardOverlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem;
}

.cardTitle {
  color: #d9d9d9;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.1rem;
}

.cardPrice {
  color: #f0e68c; // 淺黃色（柔和的黃色）
  font-size: 0.8rem;
  font-weight: bold;
}

.selectedCard {
  transform: scale(1.05);
  z-index: 10;
}

.navButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  transition: all 0.3s ease;

  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  &:focus {
    outline: none;
  }
}

.prevButton {
  left: -20px;
}

.nextButton {
  right: -20px;
}

@media (max-width: 768px) {
  .cardsContainer {
    gap: 0.5rem;
  }

  .card {
    width: 150px;
    height: 225px;
  }

  .cardTitle {
    font-size: 1rem;
  }

  .cardPrice {
    font-size: 0.9rem;
  }
}
