.container {
  width: 100%;
  min-height: 100vh;
  background-color: black;
  color: gold;
  overflow-x: hidden; /* 防止水平滾動 */
}

.centerImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  height: auto;
}

.header {
  position: relative;
  width: 100%;
  height: 100vh;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1; /* 確保影片在最上層 */
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  font-weight: bold;
  color: gold;
  text-align: center;
  width: 100%;
  padding: 0 1rem;
  z-index: 2;
}

.main {
  position: relative;
  padding: 4rem 2rem;
  z-index: 1; /* 保持內容在影片之上，但卡片之下 */
  overflow: hidden; /* 防止出現多餘滾動條 */
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15rem;
  margin: 6rem 0;
  z-index: 1;
}

.imageWrapper {
  width: 300px;
  height: 300px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  margin-top: 10rem;
  margin-bottom: 10rem;
  z-index: 1;
  justify-content: center; /* 水平置中 */
  align-items: center; /* 垂直置中 */
}

.lightBeam {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 100%;
  background: linear-gradient(to bottom, transparent, gold, transparent);
  opacity: 0.5;
  z-index: 1;
  animation: light-beam-flow 3s ease-in-out infinite;
}

.focusCardsSection {
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
  z-index: 0; /* 將 FocusCards 設置為底層，避免遮擋其他元素 */
  position: relative;
  margin-top: 20px;
}

@keyframes light-beam-flow {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@media (max-width: 768px) {
  .imageWrapper {
    width: 200px;
    height: 200px;
  }

  .imageContainer {
    gap: 2rem;
  }

  .textContainer {
    gap: 2rem;
    margin-top: 10rem;
  }

  .floatingText {
    font-size: 1.2rem;
  }
}

.floatingText {
  font-size: 1.5rem;
  line-height: 1.6;
  color: white;
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}