.input_container {
  position: relative;
  display: flex; // 使用 flex 使 label 和 input 垂直居中
  align-items: center; // 元素垂直居中
  width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
}

.input {
  border: none;
  background: none;
  outline: none;
  width: 100%;
  line-height: 1.5;
  background: #ddd;
  padding: 5px 10px;
  border: #888 solid 2px;
  border-radius: 12px;
  font-size: 1rem;
  transition: background 200ms, border-color 200ms;

  &:focus,
  &:not(:placeholder-shown) {
    background-color: white;
    border-color: #555;

    & + .label {
      top: -10px; /* 確保上浮後的位置 */
      font-size: 1rem; /* 保持字體大小不變 */
      color: #555;
    }
  }

  &.error {
    border-color: #ff0000;
  }
}

.label {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%); /* 確保 label 文字垂直居中 */
  transition: all 0.3s ease; /* 平滑的過渡效果 */
  pointer-events: none;
  color: #666;
  padding: 0 5px;
  font-size: 1rem;
}

.helper_text {
  font-size: 0.8rem;
  color: #888;
  margin-top: 5px;

  &.error_text {
    color: #ff0000;
  }
}
