.input_container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
}

.input_wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 12px;
  border: 2px solid #888;
  background: #ddd;
  transition: background 200ms, border-color 200ms, all 0.3s ease;

  &:focus,
  &:not(:placeholder-shown) {
    background-color: white;
    border-color: #555;

    & + .label {
      top: -12px;
      color: #555;
    }
  }
}

.label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  pointer-events: none;
  color: #888;
  padding: 0 5px;
  font-size: 1rem;
}

.label_float {
  top: -11px;
  color: #555;
}

.helper_wrapper {
  margin-top: 10px;
}

.helper_text {
  font-size: 0.8rem;
  color: #888;
 margin-left: 10px;
  white-space: nowrap; /* 確保換行 */
}

.error {
  border-color: #ff0000;
}

.error_text {
  color: #ff0000;
}