.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: url('https://rawgit.com/marcobiedermann/playground/master/three.js/smoke-particles/dist/assets/images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.smokeBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.box {
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.formContainer {
  transition: transform 0.3s ease-in-out;
}

.title {
  color: #333;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.text {
  color: #666;
  margin-bottom: 20px;
  line-height: 1.5;
}

.inputGroup {
  display: flex;
  margin-top: 20px;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.buttonGroup.rightAligned {
  justify-content: flex-end;
}

.nextButton,
.backButton,
.submitButton {
  padding: 10px 20px;
  background-color: #a6977c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.backButton {
  background-color: #6c757d;
}

.nextButton:hover,
.backButton:hover,
.submitButton:hover {
  background-color: darken(#a6977c, 10%);
}

.formContainer {
  transition: transform 0.3s ease-in-out;
}

.formContainer.sliding.left {
  transform: translateX(-100%);
}

.formContainer.sliding.right {
  transform: translateX(100%);
}

.formContainer.left {
  transform: translateX(0);
}

.formContainer.right {
  transform: translateX(0);
}
