.nav {
  width: 80%;
  height: 60px;
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  z-index: 1000;
  border-radius: 2px;
  background-color: #262626;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}

.logo-image {
  padding-left: 0.5rem;
}

.main-list ul {
  height: 60px;
  align-items: center;
  display: flex;
  padding: 0;
}

.main-list ul li {
  padding-left: 25px;
  list-style: none;
}

.main-list ul li a {
  position: relative;
  display: inline-block;
  color: #d9bf8f;
  text-decoration: none;
  padding-bottom: 5px;
  padding-top: 5px;
}

.main-list ul li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #d9bf8f;
  transition: width 0.3s ease;
}

.main-list ul li a:hover::after {
  width: 100%;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none !important;
  position: absolute;
  top: 100%;
  list-style: none;
  min-width: 120px;
  min-height: 120px;
  background-color: #262626;
  border-radius: 2px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}

.dropdown-menu li {
  padding-top: 8px;
  margin-top: 8px;
  width: 120px;
  text-align: left;
  padding-left: 2px;
}

.dropdown-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
}

.dropdown-menu li a:hover::after {
  width: 100%;
}

.dropdown:hover .dropdown-menu {
  display: block !important;
}

.user-list {
  margin-left: auto;
  margin-right: 20px;
}

.user-list ul {
  width: 100%;
  height: 60px;
  display: flex;
  padding: 0;
  gap: 25px;
  list-style: none;
  align-items: center;
}

.user-list ul li h6 {
  color: #d9d9d9;
  list-style: none;
  font-size: 16px;
}

.user-list ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #f4565c;
  display: inline-flex;
  align-items: center;
}

.user-list ul li a svg {
  vertical-align: middle;
  margin-right: 5px;
}
